# /etc/inadyn.conf

period = 300

{% for provider in var_dns_providers %}
provider default@{{ provider.type }}:{{ loop.index }} {
    username = {{ provider.username }}
    password = {{ provider.password }}
    hostname = {{ provider.hostname }}
    ttl = 1
    proxied = true
}
{% endfor %}